.footer {
  background-color: rgb(64, 64, 64);
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer p {
  color: white;
}

.upper-sec {
  display: flex;
  padding: 50px 30px;
  justify-content: space-between;
}

.logo-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  width: 150px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact-button {
  width: 75%;
  height: 40px;
  border-radius: 26px;
  border-style: none;
  font-size: 17.5px;
}

.page-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-list p {
  font-size: 17.5px;
}

.page-list-col {
  margin: 0px 50px;
}

.sm-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sm-title {
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 17.5px;
}

.sm-list {
  display: flex;
}

.sm-img {
  height: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 6px;
  margin-left: 6px;
}

.lower-sec {
  border-top-style: solid;
  border-color: white;
  padding-left: 20px;
  width: 100%-20px;
  height: 52px;
}

@media (max-width: 860px) {
  .upper-sec {
    justify-content: center;
  }
  
  .footer-logo {
    width: 400px;
    height: 100px;
  }

  .page-list {
    display: none;
  }

  .sm-sec {
    display: none;
  }
}