.footer {
  background-color: rgb(64, 64, 64);
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 250px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.footer p {
  color: white;
}

.logo-footer {
  margin-bottom: 20px;
  width: 150px;
}

.footer-col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.footer-col23 {
  display: flex;
  flex-direction: column;
}