body {
  margin: 0px;
}

.section {
  padding: 30px;
}

.heading {
  font-size: 25px;
  margin: 15px 0px;
}

.body-text {
}

.under-construction-container {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.under-construction-container p {
  font-size: 30px;
}