header {
  display: flex;
  background-color: white;
  align-items: center;
  position: sticky;
  z-index: 1000;
  top: 0px;
  height: 70px;
  border-bottom-width: 1px;
  border-bottom-color: grey;
  border-bottom-style: solid;
}

.big-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 640px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
}

.small-header {
  display: none;
}

@media (max-width: 930px) {
  .big-header {
    display: none;
  }

  .small-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
  }
}

.logo-header {
  height: 20px;
  width: 20px;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.dropdown-content {
  display: none;
}

.dropdown-content p {
  margin: 10px;
}

.dropdown:hover, .this-page:hover {
  text-decoration: underline;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: flex;
  position: absolute;
  top: 80%;
  padding-left: 15px;
  width: 200px;
  border-style: solid;
  border-radius: 7px;
  border-width: 1px;
  border-color: rgba(0,0,0,0.2);
  background-color: white;
  flex-direction: column;
  margin: 0px;
  padding: 10px;
}

.this-page {
  text-decoration: underline;
}