header {
  background-color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  align-items: center;
}

nav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
}

.logo-header {
  height: 20px;
  width: 20px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0px;
  padding-left: 15px;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  flex-direction: column;
}